In [167]:
import pandas as pd;
import numpy as np;
import pickle;
from sklearn.preprocessing import StandardScaler ,LabelEncoder,OneHotEncoder;
from sklearn.model_selection import train_test_split

In [168]:
data=pd.read_csv('Churn_Modelling.csv')

In [169]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [170]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [171]:
gender_encoder=LabelEncoder()
data['Gender']=gender_encoder.fit_transform(data['Gender'])

In [172]:
ohe_encoder=OneHotEncoder(sparse_output=False,handle_unknown='ignore')

ohot=ohe_encoder.fit_transform(data[['Geography']])

df=pd.DataFrame(ohot,columns=ohe_encoder.get_feature_names_out(['Geography']))

In [173]:
data=pd.concat([data.drop('Geography',axis=1),df],axis=1)

In [174]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [175]:
data.isnull().sum()

CreditScore          0
Gender               0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
dtype: int64

In [176]:
data.shape

(10000, 13)

In [177]:
data.describe()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,650.528800,0.545700,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700,0.501400,0.250900,0.247700
std,96.653299,0.497932,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769,0.500023,0.433553,0.431698
min,350.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000,0.000000,0.000000,0.000000
25%,584.000000,0.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000,0.000000,0.000000,0.000000
50%,652.000000,1.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000,1.000000,0.000000,0.000000
75%,718.000000,1.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000,1.000000,1.000000,0.000000
max,850.000000,1.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000,1.000000,1.000000,1.000000

In [178]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int32(1), int64(7)
memory usage: 976.7 KB

In [179]:
X=data.drop('EstimatedSalary',axis=1)
Y=data['EstimatedSalary']

In [180]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [181]:
print(X.shape,X_train.shape,X_test.shape)
print(Y.shape,Y_train.shape,Y_test.shape)

(10000, 12) (8000, 12) (2000, 12)
(10000,) (8000,) (2000,)

In [182]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [183]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [184]:
X_train,X_test

(array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
         -0.57946723, -0.57638802],
        [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
          1.72572313, -0.57638802],
        [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
         -0.57946723,  1.73494238],
        ...,
        [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
         -0.57946723, -0.57638802],
        [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
         -0.57946723, -0.57638802],
        [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
          1.72572313, -0.57638802]]),
 array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
          1.72572313, -0.57638802],
        [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
         -0.57946723, -0.57638802],
        [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
         -0.57946723,  1.73494238],
        ...,
        [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
         -0.57946723, -0.57638802],
        [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
         -0.57946723, -0.57638802],
        [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
          1.72572313, -0.57638802]]))

In [185]:
Y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [186]:
with open('gender.pkl','wb') as f:
    pickle.dump(gender_encoder, f)

with open('scaler.pkl','wb') as f:
    pickle.dump(scaler, f)
    
with open('geo.pkl','wb') as f:
    pickle.dump(ohe_encoder, f)

### ANN resgression problem

In [187]:
import tensorflow as tf;
from tensorflow.keras.models import Sequential;
from tensorflow.keras.layers import Dense;

In [188]:
## Build the model
model=Sequential([
    Dense(63,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)  # Output layer for regression
])

d:\anaconda\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [189]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [190]:
model.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                │ (None, 63)             │           819 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 32)             │         2,048 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_14 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,900 (11.33 KB)

 Trainable params: 2,900 (11.33 KB)

 Non-trainable params: 0 (0.00 B)

In [191]:
# Set up logs 

from tensorflow.keras.callbacks import EarlyStopping ,TensorBoard
import datetime
logdir='regressionlogs/fit/'+datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard = TensorBoard(log_dir=logdir,histogram_freq=1)

In [192]:
# Set up early stopping

early_Stopping=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [193]:
## Train the model
hist=model.fit(
    X_train, Y_train, epochs=10, validation_data=(X_test,Y_test),
    callbacks=[tensorboard,early_Stopping] 
)

Epoch 1/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 99432.9922 - mae: 99432.9922 - val_loss: 98511.3984 - val_mae: 98511.3984
Epoch 2/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99707.6953 - mae: 99707.6953 - val_loss: 96968.1016 - val_mae: 96968.1016
Epoch 3/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 96891.9141 - mae: 96891.9141 - val_loss: 93022.3828 - val_mae: 93022.3828
Epoch 4/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 93648.1875 - mae: 93648.1875 - val_loss: 86290.8047 - val_mae: 86290.8047
Epoch 5/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 86701.1875 - mae: 86701.1875 - val_loss: 77554.1016 - val_mae: 77554.1016
Epoch 6/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 76234.5234 - mae: 76234.5234 - val_loss: 68567.5625 - val_mae: 68567.5625
Epoch 7/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 67990.2734 - mae: 67990.2734 - val_loss: 60841.1328 - val_mae: 60841.1328
Epoch 8/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 60115.6797 - mae: 60115.6797 - val_loss: 55533.3398 - val_mae: 55533.3398
Epoch 9/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 54053.0898 - mae: 54053.0898 - val_loss: 52567.3867 - val_mae: 52567.3867
Epoch 10/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52619.5078 - mae: 52619.5078 - val_loss: 51441.0312 - val_mae: 51441.0312

In [194]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [195]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 1996), started 0:14:56 ago. (Use '!kill 1996' to kill it.)

In [196]:
from sklearn.metrics import accuracy_score

In [197]:
## Eavluate the model
test_loss,test_mae=model.evaluate(X_test,Y_test)
print(f'\nTest loss: {test_loss:.3f},\nTest MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52788.2070 - mae: 52788.2070

Test loss: 51441.031,
Test MAE: 51441.03125

In [198]:
## save model

model.save('regression_mode.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [199]:
from tensorflow.keras.models import load_model

model = load_model('regression_mode.h5')
scaler = pickle.load(open('scaler.pkl', 'rb'))
gender_encoders = pickle.load(open('gender.pkl', 'rb'))
geo_encoders = pickle.load(open('geo.pkl', 'rb'))

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [200]:
input_data={
    
    'CreditScore':619,
    'Geography':'France',
    'Gender':'Female',
    'Age':42,
    'Tenure':2,
    'Balance': 0,
    'NumOfProducts': 1,
    'HasCrCard': 1,
    'IsActiveMember':1,
    'Exited':1
}

In [201]:
input_data['Gender']=gender_encoders.transform([input_data['Gender']])[0]
input_data['Gender']

0

In [202]:
coder = geo_encoders.transform(pd.DataFrame([input_data['Geography']]))
df = pd.DataFrame(coder, columns=geo_encoders.get_feature_names_out(['Geography']))
input_df=pd.DataFrame([input_data])

d:\anaconda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [203]:
input_data=pd.concat([input_df.drop('Geography',axis=1),df],axis=1)
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0,1,1,1,1,1.0,0.0,0.0

In [204]:
input_data=scaler.transform(input_data)

In [205]:
prediction=model.predict(input_data)[0][0]
print("Estimated Salary is ",prediction)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 59ms/step
Estimated Salary is  67427.88